@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}
.title{
  background-color: white;
  border-radius:20px;
  padding:20px;
  margin:10px;
  width:100vw;
}
.main{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding: 20px; 
 
}
.description{
  background-color: white;
  border-radius:20px;
  padding:20px;
  margin:10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}
.item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding: 20px; 
}
.itemImg {
  max-width: 20%; 
  height: auto;
  border-radius:20px;
  margin:10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}

