.image img {
    border-radius: 10px;
    object-fit: contain;
    width: 30%;
    height: auto;
  }
.Itemcontainer{
    justify-content: center;
    border: none !important;

    /* padding: 0 20 0 20; */
}

.item{
    border-bottom: 1px solid #CBBE83!important;
    border-top: 0 !important;
    /* border: none ;  */
    /* border-color: #2a4035; */
    /* border-color: rgb(0, 28, 55); */
    background-color: #ffffff5f;
    border-right: 1px solid #CBBE83;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; 
    color: #346579;
}
/* .row{
    border: 0;
} */
.itemButton { 
    border: 1px solid #ffffff;
    outline: none;
    border-radius: 40px;
    border-color: #ffffff00;
    background-color:#34667900 ;
    color: #346579;
    width: 200px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

.itemDescription{
    margin-top: 5%;
    margin-bottom: 5%;


}

.row {
    border: none !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}