.image img {
    object-fit: contain;
    width: 30%;
    height: auto;
  }
.Itemcontainer{
justify-content: center;
  }

.item{
    border-color: rgb(2, 9, 7);
    background-color:#FAF9F6;
    border-style: solid;
}
.row{
    border: 0;
}
    