.navbar {
   background-color: #346679;
   color: aliceblue;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   color: #D1DFE3; 
   padding: 10px 20px;
   box-shadow: 2 2 10 rgb(114, 114, 114);
  }
  
  .navbar-brand {
    color: rgb(240, 248, 255);
    /* position: fixed; */
    /* font-size: small; */
   /* background-color: blueviolet; */
   /* text-align: center; */

  }

  .welcomebar {
    padding-top: 13px;
    font-family: "Funnel Sans", sans-serif;
    font-size: larger;
    padding-left: 50px;
    background-color: rgba(127, 255, 212, 0);
  }
  
  .logoutbutton {
    padding-right: 50px;
  }

  .loginbutton {
    margin-right: 50px;
  }

  .ViewLogButton {
    border: 2px solid #ffffff00;
    outline: none;
    border-radius: 40px;
    /* border-color: #ffffff; */;
    background-color:#CBBE83 ;
    color: #336679;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }